name: Auto Build

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build with Maven
        if: ${{ hashFiles('pom.xml') != '' }}
        run: mvn -B -e -X package

      - name: Make Gradle executable
        if: ${{ hashFiles('build.gradle') != '' || hashFiles('build.gradle.kts') != '' }}
        run: chmod +x ./gradlew

      - name: Build with Gradle
        if: ${{ hashFiles('build.gradle') != '' || hashFiles('build.gradle.kts') != '' }}
        run: ./gradlew build --stacktrace --info

      - name: Upload Plugin Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Plugin-JAR
          path: |
            target/*.jar
            build/libs/*.jar
          if-no-files-found: warn
